/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * MagicMaze implementation : © <Your name here> <Your email address here>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * magicmaze.css
 *
 * MagicMaze stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.
    
    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (magicmaze_magicmaze.tpl), and to HTML elements you create dynamically
    (in magicmaze.js).
    
    Usually, you are using CSS to:
    
    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).
    
    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.
        
        
     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/


/* Note: you must not use any @import directive */


/********* You can start writing your CSS below this line: **********/


/*
    Example of CSS sprites (a black token and a white token, 20x20px each, embedded in the same "tokens.png" 40x20px image):

    .white_token {
        background-image: url('img/tokens.png');
        background-position: 0px 0px;
    }
    .black_token {
        background-image: url('img/tokens.png');
        background-position: -20px 0px;
    }
    .token {
        width: 20px;
        height: 20px;
        background-repeat: none;
    }
*/

#area_container {
  position: relative;
  width: 100%;
  height: 1024px;
  overflow:hidden;
}

#area_scrollable, #area_scrollable_oversurface {
  position: absolute;
  top: 205px;
  left: 315px;
}

#area_surface {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  cursor: move;
}

#movetop,#moveleft,#moveright,#movedown {
    display: block;
    position: absolute;
    background-image: url('../../../img/common/arrows.png');
    width: 32px;
    height: 32px;
}

#movetop {
    top: 0px;
    left: 50%;
    background-position: 0px 32px;
}
#moveleft {
    top: 50%;
    left: 0px;
    background-position: 32px 0px;
}
#moveright {
    top: 50%;
    right: 0px;
    background-position: 0px 0px;
}
#movedown {
    bottom: 0px;
    left: 50%;
    background-position: 32px 32px;
}

.debug {
  background-color: #00b;
  opacity: .3;
  border-style: solid;
  border-width: 1px;
}

.tile1 {
  width: 256px;
  height: 256px;
  background-image: url('img/1.jpg');
}

.tile2 {
  width: 256px;
  height: 256px;
  background-image: url('img/2.jpg');
}

.tile3 {
  width: 256px;
  height: 256px;
  background-image: url('img/3.jpg');
}

.tile4 {
  width: 256px;
  height: 256px;
  background-image: url('img/4.jpg');
}

.tile5 {
  width: 256px;
  height: 256px;
  background-image: url('img/5.jpg');
}

.tile6 {
  width: 256px;
  height: 256px;
  background-image: url('img/6.jpg');
}

.tile7 {
  width: 256px;
  height: 256px;
  background-image: url('img/7.jpg');
}

.tile8 {
  width: 256px;
  height: 256px;
  background-image: url('img/8.jpg');
}

.tile9 {
  width: 256px;
  height: 256px;
  background-image: url('img/9.jpg');
}

#token0 {
  width: 30px;
  height: 30px;
  background: url('img/30_30_meeple.png') -30px 0;
  position: absolute;
}

#token1 {
  width: 30px;
  height: 30px;
  background: url('img/30_30_meeple.png') -90px 0;
  position: absolute;
}

#token2 {
  width: 30px;
  height: 30px;
  background: url('img/30_30_meeple.png') -210px 0;
  position: absolute;
}

#token3 {
  width: 30px;
  height: 30px;
  background: url('img/30_30_meeple.png') -270px 0;
  position: absolute;
}

/* temporary crap */

table {border-collapse: collapse; display: inline; }
table, th, td {border: 1px #000 solid;}
td {
  padding: 5px;
  text-align: center;
}