/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * MagicMaze implementation : © Patrick Xia <patrick.xia@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 */


/* Note: you must not use any @import directive */

#mm_timer {
  position: fixed;
  left: 6px;
  top: 5em;
  background: #fff;
  z-index: 10;
}

#mm_area_container {
  position: relative;
  width: 100%;
  height: 1024px;
  overflow:hidden;
}

#mm_area_scrollable, #mm_area_scrollable_oversurface {
  position: absolute;
  top: 205px;
  left: 315px;
}

#mm_area_surface {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  cursor: move;
}

#mm_movetop,#mm_moveleft,#mm_moveright,#mm_movedown {
    display: block;
    position: absolute;
    background-image: url('../../../img/common/arrows.png');
    width: 32px;
    height: 32px;
}

#mm_movetop {
    top: 0px;
    left: 50%;
    background-position: 0px 32px;
}
#mm_moveleft {
    top: 50%;
    left: 0px;
    background-position: 32px 0px;
}
#mm_moveright {
    top: 50%;
    right: 0px;
    background-position: 0px 0px;
}
#mm_movedown {
    bottom: 0px;
    left: 50%;
    background-position: 32px 32px;
}

.debug {
  background-color: #00b;
  opacity: .3;
  border-style: solid;
  border-width: 1px;
}
.tile1 {
  width: 256px;
  height: 256px;
  background: url('img/t.png') -0px -256px;
}
.tile2 {
  width: 256px;
  height: 256px;
  background: url('img/t.png') -256px -256px;
}
.tile3 {
  width: 256px;
  height: 256px;
  background: url('img/t.png') -512px -256px;
}
.tile4 {
  width: 256px;
  height: 256px;
  background: url('img/t.png') -768px -256px;
}
.tile5 {
  width: 256px;
  height: 256px;
  background: url('img/t.png') -1024px -256px;
}
.tile6 {
  width: 256px;
  height: 256px;
  background: url('img/t.png') -1280px -256px;
}
.tile7 {
  width: 256px;
  height: 256px;
  background: url('img/t.png') -1536px -256px;
}
.tile8 {
  width: 256px;
  height: 256px;
  background: url('img/t.png') -1792px -256px;
}
.tile9 {
  width: 256px;
  height: 256px;
  background: url('img/t.png') -2048px -256px;
}
.tile10 {
  width: 256px;
  height: 256px;
  background: url('img/t.png') -2304px -256px;
}
.tile11 {
  width: 256px;
  height: 256px;
  background: url('img/t.png') -2560px -256px;
}
.tile12 {
  width: 256px;
  height: 256px;
  background: url('img/t.png') -2816px -256px;
}
.tile13 {
  width: 256px;
  height: 256px;
  background: url('img/t.png') -3072px -256px;
}
.tile14 {
  width: 256px;
  height: 256px;
  background: url('img/t.png') -256px 0px;
}
.tile15 {
  width: 256px;
  height: 256px;
  background: url('img/t.png') -512px 0px;
}
.tile16 {
  width: 256px;
  height: 256px;
  background: url('img/t.png') -768px 0px;
}
.tile17 {
  width: 256px;
  height: 256px;
  background: url('img/t.png') -1024px 0px;
}
.tile18 {
  width: 256px;
  height: 256px;
  background: url('img/t.png') -1280px 0px;
}
.tile19 {
  width: 256px;
  height: 256px;
  background: url('img/t.png') -1536px 0px;
}
.tile20 {
  width: 256px;
  height: 256px;
  background: url('img/t.png') -1792px 0px;
}
.tile21 {
  width: 256px;
  height: 256px;
  background: url('img/t.png') -2048px 0px;
}
.tile22 {
  width: 256px;
  height: 256px;
  background: url('img/t.png') -2304px 0px;
}
.tile23 {
  width: 256px;
  height: 256px;
  background: url('img/t.png') -2560px 0px;
}
.tile24 {
  width: 256px;
  height: 256px;
  background: url('img/t.png') -2816px 0px;
}

#token0 {
  width: 30px;
  height: 30px;
  background: url('img/30_30_meeple.png') -30px 0;
  position: absolute;
  z-index: 1;
}

#token1 {
  width: 30px;
  height: 30px;
  background: url('img/30_30_meeple.png') -90px 0;
  position: absolute;
  z-index: 1;
}

#token2 {
  width: 30px;
  height: 30px;
  background: url('img/30_30_meeple.png') -210px 0;
  position: absolute;
  z-index: 1;
}

#token3 {
  width: 30px;
  height: 30px;
  background: url('img/30_30_meeple.png') -270px 0;
  position: absolute;
  z-index: 1;
}

.redpawn {
  width: 30px;
  height: 30px;
  background: url('img/30_30_meeple.png') -180px 0;
  display: inline-block;
}

.mm_ability {
  background-color: #0994dc;
  display: inline-block;
}

.mm_abilityN {
  width: 30px;
  height: 24px;
  background: url('img/dirs.png') 0px 0;
  display: inline-block;
}

.mm_abilityS {
  width: 30px;
  height: 24px;
  background: url('img/dirs.png') -30px 0;
  display: inline-block;
}

.mm_abilityW {
  width: 30px;
  height: 24px;
  background: url('img/dirs.png') -60px 0;
  display: inline-block;
}

.mm_abilityE {
  width: 30px;
  height: 24px;
  background: url('img/dirs.png') -90px 0;
  display: inline-block;
}

.mm_abilityP {
  width: 30px;
  height: 24px;
  background: url('img/dirs.png') -120px 0;
  display: inline-block;
}

.mm_abilityR {
  width: 30px;
  height: 24px;
  background: url('img/dirs.png') -150px 0;
  display: inline-block;
}

.mm_abilityH {
  width: 30px;
  height: 24px;
  background: url('img/dirs.png') -180px 0;
  display: inline-block;
}

.used {
  position: absolute;
  width: 55px;
  height: 55px;
  /* TODO: get an image here */
  background: #000;
}

@keyframes mm_blink {
  50% {
    opacity: 0;
  }
}

@keyframes mm_inverseblink {
  50% {
    opacity: 0.3;
  }
}

#mm_next_explore_container {
  visibility: hidden;
}

#mm_border {
  /* bgg tries to interfere with this as much as possible. */
  z-index: 100000;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  border: 5px solid red;
  pointer-events: none; 
  visibility: hidden;
}

.mm_filterwarp {
  background: #111;
  opacity: 0.3;
}

/* TODO: Make these line up with the player guides */
.mm_control {
  position: fixed;
  z-index: 10;
  left: 5px;
}

@media only screen and (max-width: 665px)  {
  .mobile_version .mm_control {
    left: 20%;
  }
}

#mm_control0 {
  background-color: #0a0;
  bottom: 80px;
}

#mm_control1 {
  background-color: #f90;
  bottom: 55px;
}

#mm_control2 {
  background-color: #aa0;
  bottom: 30px;
}

#mm_control3 {
  background-color: #90f;
  bottom: 5px;
}

.mm_action {
  cursor: pointer;
  z-index: 1;
  padding: 5px;
  display: inline-block;
}